<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <form action="" class="form-search">
    <input type="text" id="form-search__input">
    <button type="submit" class="form-search__button">Buscar</button>
  </form>
  <ul class="series__favorites">

  </ul>
  <ul class="series__search">

  </ul>
  <script src="assets/js/main.js"></script>
</body>
</html>
