<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Adalab Web Starter Kit</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <form action="" class="form-search">
    <input type="text" id="form-search__input">
    <button type="submit" class="form-search__button">Buscar</button>
  </form>
  <div class="series">
    <div class="series__highlight">
      <h3>Series favoritas</h3>  
      <ul class="series__favorites">
        
      </ul>
    </div>
    <ul class="series__search">
      
    </ul>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
