.series {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 280px 1fr;
	&__search {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: start;
    }
}

.search {
    text-align: center;
    width: 260px;
    background-color: $white-snow;
    padding: 15px 25px;
    margin: 0 30px 30px 0;
    box-shadow: 3px 3px 13px $purple-arsenic;
    cursor: pointer;
}

.favorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    &__title {
        font-size: 14px;
    }
    &__image {
        height: 120px;
        margin-right: 20px;
    }
}

.wrapper__serie-fav {
    display: flex;
    align-items: center;
}

.fa-trash-alt {
    cursor: pointer;
    margin-left: 20px;
    &:hover {
        color: crimson;
    }
}

.title-highlight {
    font-size: 22px;
    margin-bottom: 20px;
    color: $purple-arsenic;
    font-weight: 600;    
}

.favorite {
    background-image: linear-gradient(to right bottom, $silver, $purple-arsenic);
	background-color: $silver;
	color: $white-snow;
}

.btn__delete {
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid $purple-grape;
    font-family: $font-principal;
    font-size: $font-sizeDefault;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $light-silver;
    color: $purple-grape;
    margin-bottom: 50px;
    &:hover {
        background-color: $purple-grape;
        color: $light-silver;
    }
}