.series {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 280px 1fr;
	&__search {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: start;
	}
}

.search {
    text-align: center;
    width: 260px;
    background-color: $white-snow;
    padding: 15px 25px;
    margin: 0 30px 30px 0;
    box-shadow: 3px 3px 13px $purple-arsenic;
}

.favorites {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &__title {
        font-size: 14px;
    }
    &__image {
        height: 120px;
        margin-right: 20px;
    }
}

.title-highlight {
    font-size: 22px;
    margin-bottom: 20px;
    color: $purple-arsenic;
    font-weight: 600;    
}

.favorite {
    background-image: linear-gradient(to right bottom, $silver, $purple-arsenic);
	background-color: $silver;
	color: $white-snow;
}