*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-principal;
    font-weight: $font-weightDefault;
	font-size: $font-sizeDefault;
}

input {
    border: 0;
}

button {
    appearance: none;
    border: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}