// Colors
$white-snow: #fff;
$light-silver: #f0eef3;
$silver: #C0C5C1;
$roman-silver: #7D8491;
$purple-grape: #574B60;
$purple-arsenic: #3F334D;
$black-knight: #111;

// Fonts
$font-principal: 'Raleway', sans-serif;
$font-sizeDefault: 18px;
$font-weightDefault: 400;
$font-secondary: 'PT Mono', monospace;