// Colors
$light-silver: #f0eef3;
$silver: #C0C5C1;
$roman-silver: #7D8491;
$pineapple: #574B60;
$arsenic: #3F334D;

// Fonts
$font-principal: 'Raleway', sans-serif;
$font-sizeDefault: 18px;
$font-weightDefault: 400;
$font-secondary: 'PT Mono', monospace;


// Mediaqueries
$mediaTablet: 768px;
$mediaDesktop: 1200px;